<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <a href="../register">Zarejestruj się</a>
        <a href="../login">Zaloguj</a>
        <a href="/">Główna</a>
    </nav>
    {{#if email}}
    <div id="logged_baner">Jesteś zalogowany! <a href="/dashboard">Przejdź do dashboard</a></div>
    {{else}}
    <div id="logged_baner">Jesteś niezalogowany! <a href="/login">Zaloguj się</a></div>
    {{/if}}

    {{{body}}}

    <script src="/script.js"> </script>
</body>
</html>
