*{
    font-family: Century, Serif;
    text-align: center;
}

.baner, footer{
    background-color: #CCA10B;
    color: white;
    font-style: italic;
    padding: 5px;
    clear: both;
}

.upper{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left, .middle, .right{
    width: 33.33%;
    height: 200px;
    background-color: antiquewhite;
    float: left;
}

.upper > p{
    color:red;
    font-size: 100px;
}

label{
    text-align: left;
}
button{
    background-color: orange;
    color: white;
    border: none;
    border-radius: 10px;
    padding-top:10px ;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
}

button:hover{
    background-color: #CCA10B;
}

input[type="range"]{
    width: 50%;
}

a{
    background-color: orange;
    padding: 5px;
    color: white;
}