<h2>Wpisy</h2>
    <ul>
        {{#each entries}}
        {{#if this}}
        <li>
            {{this}}
        </li>
        {{else}}
        <li>
            Nie ma jeszcze żadnych wpisów
        </li>
        {{/if}}
        {{/each}}
    </ul>
    <form method="post" action="/form">
        <label for="nick">Nick</label><br>
        <input name="nick" id="nick"><br>
        <label for="content">Content</label><br>
        <input name="content" id="content"><br> 
        <input type="submit" value="wyślij">
    </form>