<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <div>
        <a href="../podstrona">Podstrona</a>
        <a href="/">Główna</a>
        <a href="../button">Guzik</a>
        <a href="../form">Formularz</a>
    </div>

    {{{body}}}

    <script type="text/javascript" src="/script.js">
        
    </script>
</body>
</html>
