*{
    margin: 0;
    padding: 0;
}

.item{
    display: flex;
    flex-direction: column;
}

.app > button{
    background-color: brown;
    color: white;
    height: 50px;
    border:none;
    border-radius: 10px;
    width: 100px;
    margin: 20px;
}

.app{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

#container{
    display: flex;
    flex-direction: column;
}

#container > h2{
    font-size: 50px;
    
    top:0;
}