body{
    background-color: rgb(188, 192, 196);
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

label{
    display: block;
}

input{
    background-color: rgb(153, 161, 168);
    border: 0;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    outline: none;
}

form{
    margin: 20px;
}

nav{
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 10px;
}

#countries{
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}