{% extends "base.html" %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h1 class="h4 mb-3">Pierwsza konfiguracja</h1>
                    <p class="text-muted">Utwórz pierwsze konto administratora</p>
                    <form method="POST" action="">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <div class="form-group mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label">Hasło</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-sm btn-warning w-100">Utwórz</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}